# Sample local .env file
LOG_LEVEL=debug
KEYCLOAK_VERSION=26.6.2
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KEYCLOAK_BASE_URL=http://keycloak.172.29.0.3.nip.io:8080
## Will be set by `admin-token` command
KEYCLOAK_REFRESH_TOKEN=??
KEYCLOAK_ACCESS_TOKEN=??
