.vscode/settings.json
/bin/
/dist/
/tmp/
/config/
.env
.*.env
.state/

/keycloak-cli*

# Ignore backup files with 32-character checksums (any 32 chars after dot)
/testdata/*.????????????????????????????????
/generated/
.omo
keycloak-cli
